name: ruby_ci

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        ruby: ['2.5', '2.6', '2.7']
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v2
    - name: set up ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: install bundle
      run: |
         sudo apt-get -yqq install libpq-dev
         gem install bundler
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: customerio-${{ matrix.ruby }}-${{ hashFiles('customerio.gemspec') }}
        restore-keys: |
          customerio-${{ matrix.ruby }}-
    - name: Install dependencies
      run: bundle install --path vendor/bundle
    - run: bundle exec rspec
